<% content_for :head do %>
  <%= javascript_include_tag "index" %>
<% end %>

<h1>Encoding</h1>
<p>This is a demo of string encoding in forms.</p>

<%= form_tag( {:action => 'get_cell'}, {:multipart => true, :remote => true, :class => "form-horizontal", "data-type" => "html"}) do %>
  <p>This will demonstrate the effect of using remotipart for file uploads on the encoding of delivered HTML.</p>
      <label for="flat_file">Upload any file</label>
      <%= file_field_tag "flat_file", :placeholder=> 'File input' %>
  <p><%= submit_tag "Get the Form" %></p>
<% end %>


<div id='for_partial'>
</div>
