<h1>Encoding</h1>
<p>This is a demo of string encoding in forms.</p>

<%= form_tag( {:action => 'get_cell'}, {:multipart => true, :remote => true, :class => "form-horizontal", "data-type" => "html"}) do %>
  <% submit_tag "Get the Form" %>
<% end %>


<div id='for_cell'>
</div>
